REDDIT_USER = '[a valid user with developer privileges in your Reddit app]'
REDDIT_PW = '[that user's password]'
CLIENT_ID = '[the client id of your Reddit app]'
CLIENT_SECRET = '[the client secret of your Reddit app]'
USER_AGENT = '[the "name" of your Reddit app]'
SQL_USER = '[the SQL user on your localhost SQL database with administrative privileges]'
SQL_PW = '[that user's password]'
SQL_DATABASE = '[the name of your SQL database]'
SUBREDDIT = '[the name of the subreddit the FAQ bot is for]'
ADMIN_USER = '[your username (for contact purposes)]'
BOT_NAME = '[name of the bot for display purposes]'
FLAIRS_TO_IGNORE = ['[lower-case]','[list]','[of]','[text]','[flairs]','[to]','[ignore]']
HOSTNAME = 'localhost'  # you might need to change this if you don't run the bot on the server where the SQL database lives
